.cartItem {
  border-top: 1px solid rgb(209, 206, 206);
  padding: 10px 0;
  position: relative;
  &:last-child {
    border-bottom: 1px solid rgb(209, 206, 206);
  }
  .cartItem_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .image {
      width: 120px;
      height: 100px;
      @media (max-width: 1199px) {
        width: 100px;
        height: 80px;
      }
      img {
        max-width: 100%;
        height: 100%;
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    h4 {
      font-size: 18px;
      width: 300px;
      text-align: center;
      text-transform: capitalize;
      @media (max-width: 1199px) {
        width: 250px;
      }
      @media (max-width: 767px) {
        width: 200px;
        font-size: 17px;
      }
    }
    .price {
      width: 150px;
      text-align: center;
      display: flex;
      justify-content: center;
      @media (max-width: 1199px) {
        width: 100px;
      }
      img {
        width: 12px;
      }
    }
    .quantity_wrap {
      display: flex;
      align-items: center;
      width: 120px;
      justify-content: center;
      .quantityCount {
        padding: 0 8px;
        font-size: 28px;
        background-color: rgba(207, 206, 206, 0.308);
        transition: all 0.4s;
        cursor: pointer;
        @media (max-width: 767px) {
          padding: 0 5px;
          font-size: 22px;
        }
        &:hover {
          background-color: rgba(173, 173, 173, 0.5);
        }
      }
      .quantity {
        padding: 0 10px;
      }
    }
    .deleteProduct {
      img {
        width: 22px;
        cursor: pointer;
      }
    }
  }
  .error {
    position: absolute;
    bottom: 10px;
    right: 40px;
    color: red;
    @media (max-width: 575px) {
      position: absolute;
      bottom: -1px;
      right: 5px;
      color: red;
      width: 260px;
    }
  }
}
